<?xml version="1.0"?>
<ruleset name="Honk">
	<description>WordPress Coding Standards (WordPress-Extra and WordPress-Docs) and PHP 7.4 compatibility for the Honk plugin.</description>

	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/build/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
	<exclude-pattern>/languages/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg name="parallel" value="8"/>
	<arg value="sp"/>

	<config name="testVersion" value="7.4-"/>
	<config name="minimum_wp_version" value="6.4"/>

	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="honk-me"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="honk"/>
			</property>
		</properties>
	</rule>
</ruleset>
